@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply block w-full font-bold;
    }
    h1 {
        @apply text-4xl;
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-xl;
    }
    h4 {
        @apply text-lg;
    }
    h5 {
        /* NA */
    }
    h6 {
        @apply text-sm;
    }

    .main-body {
        @apply bg-black;
    }

    .main-container {
        @apply w-1/2 lg:w-3/4 h-full
            my-4 mx-auto p-4
            flex flex-row flex-wrap justify-center
            border border-black rounded bg-gray-100 space-y-4;
    }

    .btn {
        @apply inline-block rounded-lg border text-center font-bold;
    }
    .btn--try-now {
        @apply w-44 py-2 border-blue-700 bg-blue-200 text-xl font-mono;
    }
}
